################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentsAPI/.vs
/PaymentsAPI/packages
/PaymentsAPI/PaymentsAPI.DeveloperTest/bin/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest/obj/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest.Tests/bin/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest.Tests/obj/Debug
/GES/GES.MW.GW.Web.Api.Tests/obj/Debug
/GES/GES.MW.GW.Web.Api.Tests/bin/Debug
/GES/GES.MW.GW.Web.Api/obj/Debug
/GES/.vs/GES/v15
/GES/.vs/GES/DesignTimeBuild
