################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentsAPI/.vs
/PaymentsAPI/packages
/PaymentsAPI/PaymentsAPI.DeveloperTest/bin/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest/obj/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest.Tests/bin/Debug
/PaymentsAPI/PaymentsAPI.DeveloperTest.Tests/obj/Debug
